.art-group{
    margin-bottom: 30px;
}

.btn-nego{
    margin-top:10px;
    margin-bottom: 25px;
}
li{
    list-style-type: none;
}

.media-test{
    margin-left:25px;
}

.allimg{
width: 200px;
height: 200px;
margin: 10px;
transition: .5s ease;
}
.containerart:hover .allimg{
    box-shadow: 17px 18px 6px black;
    opacity: 0.8;
}

.containerart {
    position: relative;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .containerart:hover {
    opacity: 0.8;
  }
  
  .containerart:hover .middle {
    opacity: 1;
  }
  
  .textart {
    background-color: #4CAF50;
    color: white;
    font-size: 25px;
    padding: 16px 32px;
    font-weight: bold;
  }

  .paint:hover{
  text-decoration: none!important;
  }

  .background-allart
  {
    background-image: url(../img/pictures/waves3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }