.head-table{
    color: black;
    text-align: center;
    margin-left: 10px;
    font-size: 15px;
}

.trback, .tdback, .thback{
    border: 1px solid black;
    padding: 10px;
}

.table-one, .table-two{
   margin-bottom: 30px;
}

.tablebackselfer{
    display: block;
    margin: auto;
    width: fit-content;
}