.connect-page{
    display: flex;
    margin-bottom: 10px;
}

.connect-login{
    display: flex;
    flex-direction: column;
}

.registration{
    color: black;
}
.hr-connect{
    width:1px; 
    height:300px;
    background-color: black;
}

@media screen and (max-width: 834px){
    
//////////////button////////////////
.btn-warning{
    display: block;
    margin: auto;
    text-align: center;
    margin-top:20px;
}
.img-connexion{
    margin-right: 26px;
}

}

@media screen and (max-width: 500px){
.connect-page{
    display: flex;
    flex-direction: column;
    
}
.hr-connect{
    width: 250px;
height: 1px;
}
.registr-mobile{
    margin-bottom: 40px;
}
}