h3{
    color: #09045f;
    padding: 10px;
    border-radius: 10px;
}

.characteristics, .parameter-negociation {
    background-color: brown;;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    height: fit-content;
    margin-bottom: 20px;
}

.inputcreate{
    margin-bottom: 15px;
}

input{
    text-align: center;
}